.footer {
    position: relative;
    left: 0;
    width: 100%;
    background-color: #282c34;
    color: white;              
    padding: 20px 0;   
    text-align: center;     
    display: flex;
}

.footer-content {
    max-width: 800px;        
    margin: 0 auto;           
}

.footer p {
    margin: 0;              
}

.social-links {
    margin-top: 10px;        
}

.social-links a {
    color: white;            
    margin: 0 10px;           
    text-decoration: none;   
}


.footer-text {
    color: #f4f4f4; /* Белый цвет текста для конкретного параграфа */
    font-size: 1.2rem; /* Размер шрифта для параграфа */
    margin-bottom: 10px; /* Отступ снизу */
}

.scroll-top {
    position: absolute;
    right: 20px; /* Отступ от правого края */
    bottom: 20px; /* Отступ от нижнего края */
    cursor: pointer; /* Указатель при наведении */
    font-size: 24px; /* Размер стрелочки */
    background-color: #282c34; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.scroll-top:hover {
    background-color: #3b4049; /* Цвет при наведении */
}
